docker-push:
  stage: docker-push
  image: docker:24
  services:
    - docker:24-dind
  only:
    - master
  dependencies:
    - build
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  script:
    # No need to pass build args since we're using pre-built dist
    - docker build -t $DOCKER_IMAGE_NAME:$IMAGE_TAG .
    - docker push $DOCKER_IMAGE_NAME:$IMAGE_TAG
    - docker tag $DOCKER_IMAGE_NAME:$IMAGE_TAG $DOCKER_IMAGE_NAME:latest
    - docker push $DOCKER_IMAGE_NAME:latest
    - echo "Docker image pushed successfully - $DOCKER_IMAGE_NAME:$IMAGE_TAG"