apiVersion: v1
kind: Service
metadata:
  name: flight-2306211660-fe-service
  namespace: default
spec:
  selector:
    app: flight-2306211660-fe
  type: ClusterIP
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 80